@import url('https://fonts.googleapis.com/css?family=Life+Savers|Arapey|Gentium+Book+Basic|Salsa');

@import url("https://fonts.googleapis.com/css?family=");


body{
    background: rgb(22, 21, 21)
}
.header-h1{
    font-family: 'Salsa','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color:rgb(142, 206, 142);
    text-align: center;
}
.header-h2{
    font-family: 'Life Savers', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color:  rgb(98, 226, 24);
    text-align: center;
    
}
.header{
    background: black;
    margin-bottom: 4.8rem;
    padding: .1rem 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
}
.container{
  text-align: center;

}
.big-button{
    background:  rgb(98, 226, 24);
    border: none;
    font-size: 3rem;
    color: white;
    padding: 1.4rem;
    width: 60%;
    border-bottom: .6rem solid rgb(7, 12, 7);
    margin-top:-3rem;
}
.bc{
    background:rgb(98, 226, 24);
    border: none;
    color: white;
    padding: 1.2rem;
    border-bottom: .3rem solid rgb(7, 12, 7);
    font-family:'Arapey', serif;
}
.button{
    border: none;
    font-size: 1rem;
    color:  rgb(7, 12, 7);
    font-family:'Arapey', serif;
}
button{
    cursor: pointer;
    font-family:'Arapey', serif;
}
.big-button:disabled{
cursor: default;
opacity: .5;
}
.R-button{
    background: none;
    border: none;
    color:rgb(142, 206, 142); ;
    padding: 0;
    font-family:'Arapey', serif;
  
}
.Task-header{
background: #141414;
color: rgb(142, 206, 142);
padding: 1rem;
display: flex;
justify-content: space-between;
width: 55%;
margin-left: 21%;
margin-top: 1%;
font-family:'Arapey', serif;
}
h3{
margin: 0;
}
.options{
    background: rgb(40, 44, 40);
    width: 52.4%;
    margin-left: 21%;
    margin-top: .3%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: .1rem solid rgb(7, 12, 7);
    word-break: inherit
  
}
.h3-task{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family:'Gentium Book Basic';
    color: rgb(98, 226, 24);
}
.p{
    font-family:'Gentium Book Basic';
    color: white;
    margin-left: 5%;
    font-size: 1rem;
    word-break: break-all
}
.addO{
    display: flex;  
    margin-top: .2%;
    margin-bottom: 5%;

  
    
}
.input{
flex-grow: 0;
width: 47.1%;
padding: 0;
margin-left: 21%;
background:#0c0c0c;
border-top: .1rem solid  rgb(98, 226, 24);
border-bottom: .1rem solid rgb(98, 226, 24);
border-left:  .1rem solid rgb(98, 226, 24);
border-right:  .1rem solid rgb(98, 226, 24);
margin-right : .4%;
color: rgb(142, 206, 142);
}
.ReactModaPortal>div{
    opacity: 0;
}
.ReactModaPortal .ReactModal__Overlay {
   
    transition: opacity 200ms ease-in-out
}
.ReactModaPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModaPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.Modal {
    background:rgb(98, 226, 24) ;
    margin-top: 15%;
    width:25%;
    height: 30%;
    margin-left: 35%;
    text-align: center;
    color: white;
    padding: 1rem;
    padding-top: 5rem
    
  }

.Po{
margin-top: 10%;
font-size: 1.2rem;
word-break: break-all
}
.Bo{
width: 30%;

}
.So{
    margin-top: -5%;
    font-family: 'Salsa','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@media (max-width: 45rem){
    .addO{
        flex-direction: column
    }
    .bc{
        padding: 3%;
        width: 62%;
        margin-left: 16.6%;
    }
    .input{
        width: 67%;
        padding: 3%;
        margin-left: 13.9%;
      
    }
    .options{
    background: rgb(40, 44, 40);
    width: 80.4%;
    margin-left: 2%;
    margin-top: .3%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: .1rem solid rgb(7, 12, 7);
    word-break: inherit
  
    }
    .big-button{
        background:  rgb(98, 226, 24);
        border: none;
        font-size: 1rem;
        color: white;
        padding: 1.5rem;
        width: 60%;
        border-bottom: .6rem solid rgb(7, 12, 7);
        margin-top: -4rem;
    }
    .Task-header{
        background: #141414;
        color: rgb(142, 206, 142);
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-left: 5%;
        margin-top: 1%;
        font-family:'Arapey', serif;
        }
}

